<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/layout :: head"></head>

<body>

	<header th:replace="views/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">

				<div th:object="${product}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/form}" th:object="${product}" method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Name</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{name}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Size</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{size}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Color</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{color}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Price</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{price}"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Lot</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{lot}"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('lot')}" th:errors="*{lot}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Quantity</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{quantity}"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Create Product" class="btn btn-primary" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="views/layout :: footer"></footer>
</body>

</html>